@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff'),
    url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
    url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
body{
    background-color: black;
}
header{
    background-color: black;
    width: 100%;
}
.head_wrapper{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 24px 20px 24px 32px;
}
.navbar{
    list-style: none;
    display: flex;
}
header nav ul{
    list-style: none;
    display: flex;
}
.li_flex{
    margin-left: 32px;
}

header ul a{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px; text-decoration: none;color:white;
}
.head_button{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color:black;
    background: #FFFFFF;
    padding: 9px 20px 13px;
    border-radius: 14px;
    letter-spacing: 0.4px;
}
.banner{
    background-image: url("../images/fold.jpg");
    background-size: cover;
}
.banner1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}
.banner_wrap{
    max-width: 580px;
    text-align: center;
}
.fixid_location{
    position: absolute;
    right: 40px;
    bottom: 40px;
    list-style: none;
    display: flex;
    align-items: center;
}
.fixid_location li{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
    display: flex;
    align-items: center;
}
.fixid_location li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/watch.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.fixid_location li:nth-child(2):before{
    content: "";
    display: inline-block;
    background-image: url("../images/apperture.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.fixid_location li:nth-child(3):before{
    content: "";
    display: inline-block;
    background-image: url("../images/iso.svg");
    width: 32px;
    height: 16px;
    margin-right: 6px;
}
.fixid_location li:nth-child(4):before{
    content: "";
    display: inline-block;
    background-image: url("../images/location.svg");
    width: 10px;
    height: 16px;
    margin-right: 6px;
}
.banner h2{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    display: inline-block;
}
.banner h1{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
}
.banner p{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    margin-top: 18px;
}
.sunset{
    background-image: url("../images/sunset_bg.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sunset .sub_container{
    max-width: 298px;
    margin-right: 68px;
}
.sunset .sub_container h4{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset .sub_container p{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.monstera{
    min-height: 600px;
    background-image: url("../images/monstera.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.monstera div{
    max-width: 273px;
    margin-right: 87px;
}
.monstera div h4{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.monstera div p{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.pclients{
    background-color: black;
    padding: 113px 0 140px 0;
    }
.pclients div h4{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.pclients div h5{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px
}
.clients{
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 1160px;
}
.clients a{
    max-width: 128px;
    display: inline-block;
}
.star{
    background-image: url("../images/star.jpg");
    background-size: cover;
    position: relative;
    min-height: 600px;
    align-items: center;
    justify-content: right;
    display: flex;
}
.star div{
    max-width: 241px;
    margin-right: 119px;
}
.star h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.star p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.in_touch{
    background-color: black;
    padding: 113px 0 108px 0;
}
.div1{
    max-width: 584px;
    margin: auto;
    text-align: center;
}
.in_touch h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.in_touch h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.g_touch{
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color:black;
    background: #FFFFFF;
    padding: 5px 10px 5px 5px;
    border-radius: 14px;
    letter-spacing: 0.4px;
    display: inline-flex;
    align-items: center;
    margin-top: 7px;
}

.g_touch:before{
    content: "";
    display: inline-block;
    background-color: black;
    width: 32px;
    height: 32px;
    border-radius: 15px;
    margin-right: 6px;
}
.container{
    max-width: 1168px;
    margin: auto;
}
.owl-stage{
    display: flex;
    align-items: center;
}
.owl-item{
    text-align: center;
}
.owl-nav .owl-prev:before{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f053";
    display: inline-block;
    font-size: 50px;
    color: red;
    position: absolute;
    left: -17px;
    top: 15px;
}
.owl-nav .owl-next:before{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f053";
    display: inline-block;
    font-size: 50px;
    color: red;
    position: absolute;
    right: -17px;
    top: 15px;
    transform: rotate(180deg);
}
.owl-dots{
    text-align: center;
}
.owl-dots .owl-dot span{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: red;
    border-radius: 50%;
}
.owl-dots .owl-dot.active span{
    background-color: blue;
}
.faq{
    background-color: black;
    padding: 70px 0;
    border: solid;
}
.faq .container{
    display: flex;
    justify-content: space-between;
}
.faq .text{
    max-width: 500px;
    padding-right: 50px;
    box-sizing: border-box;
}
.faq .accordion{
    max-width: 700px;
}
.faq .text h3{
    font-family: 'poppinsregular';
    font-weight: 400;
    font-size: 41px;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 50px;
}
.faq .text p{
    font-family: 'poppinsregular';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    color: #C0C0C0;
}
.faq .ui-accordion .ui-accordion-header{
    background: #FFFFFF;
    border: 1px solid #E3E8EF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 23px 25px;
    font-family: 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #202939;
    margin-bottom: 16px;
}
.faq .ui-accordion .ui-accordion-header.ui-state-active{
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
}
.ui-accordion .ui-accordion-content{
    margin-bottom: 16px;
    border-radius: 0 0 8px 8px;
}
.faq .accordion .ui-icon{
    background-image: none;
    background-position: 0;
    width: 32px;
    height: 48px;
    text-indent: 0px;
    position: absolute;
    right: 25px;
    top: 26px;
}
.faq .accordion .ui-icon:before{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\2b";
    font-size: 32px;
    display: inline-block;
    transition: 1s;
}
.faq .ui-accordion .ui-accordion-header.ui-state-active .ui-icon:before{
    transform: rotate(360deg);
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.nav-item {
    margin-left: 5rem;
}
.nav-item:nth-child(5){
    padding: 9px 20px 13px;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-radius: 20px;
    color: black;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
.nav-link1{
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
.nav-link:hover{
    color: #482ff7;
}

